body, html{
	margin: 0;
	height: 100%;
}
.disabled{
	display: none;
} 

.message{
	width: 100%;
	height: 40px;
	text-align: center;
	position: relative;
	top: 50%;
	margin-top: -20px;
/*	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;*/
}
.message h1{
	font-size: 30px;
	font-weight: normal;
}

.console{
	width: 100%;
	background: #fff;
	height: 220px; 
	position: fixed;
	bottom: 0;
	overflow: hidden;
	transition: height 0.25s ease-in-out;
	-webkit-transition: height 0.25s ease-in-out;
	-moz-transition: height 0.25s ease-in-out;
	-ms-transition: height 0.25s ease-in-out;
	color: #d93c49;
	font-family: Verdana, Geneva, sans-serif;
}

.console .head_wrap{
	top: 0;
	height: 24px;
	background: #dfdfdf;
	width: 100%;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
}
.console .head_left{
	background: url(img/trollface-console_left.png) 0 0 no-repeat;
	left: 0;
	top: 1px;
	position: absolute;
	height: 22px;
	width: 466px;
}

.console .head_right{
	background: url(img/trollface-console_right.png) 0 0 no-repeat;
	right: 0;
	top: 1px;
	position: absolute;
	height: 22px;
	width: 99px;
}

.console .trollface{
	width: 529px;
	height: 375px;
	position: relative;
	margin: 0 auto;
	top: 50px;
	background: url(img/trollface.png) center center no-repeat;
	transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
}

.console:hover{
	height: 500px;
}

.console:hover .trollface{
	opacity: 0;
	display: none/9;
}

.console:hover .social_cont{
	opacity: 1;
	display: block/9;
}

.console .social_cont{
	width: 500px;
	text-align: center;
	margin: auto;
	height: 200px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none/9;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
}


.console .social{
	width: 300px;
	margin: 0 auto;
	left: 16px;
	position: relative;
}
.console .social_cont p{
	color: #555;
	line-height: 30px;
	margin: 0;
}

.console h2{
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
}

.close_console{
	width: 20px;
	height: 20px;
	right: 0;
	top: 3px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

#preload-01 { background: url(img/trollface.png) no-repeat -9999px -9999px; }

/* button */

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	line-height: 44px;
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}